<div class="sidebar">
    <h2>Technologies</h2>
    <ul>
      <li *ngFor="let tech of technologies">
        <div class="tech-header" (click)="toggleAccordion(tech)" [class.expanded]="selectedTech === tech.name">
          {{ tech.name }}
        </div>
        <ul *ngIf="selectedTech === tech.name" class="accordion">
          <li *ngFor="let concept of tech.concepts" (click)="selectConcept(tech, concept)">
            {{ concept }}
          </li>
        </ul>
      </li>
    </ul>
  </div>
  