<div class="sidebar" [class.hidden]="!isSidebarOpen">
  <h2>Technologies</h2>
  <mat-accordion multi>
    <mat-expansion-panel *ngFor="let tech of technologies" class="accordion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ tech.name }}
        </mat-panel-title>
        <mat-panel-description>
       
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ul class="accordion-list">
        <li *ngFor="let concept of tech.concepts" (click)="onTechClick(concept)">
          {{ concept.name }}
        </li>
      </ul>
      
    </mat-expansion-panel>
  </mat-accordion>
</div>
