.sidebar {
  width: 280px;
  background: transparent; /* Light grayish background */
  color: #333; /* Darker text for contrast */
  // padding: 20px;
  // border-radius: 10px;
  // box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  font-family: 'Arial', sans-serif;
  transition: all 0.3s ease-in-out;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    text-transform: uppercase;
    color: #2c3e50; /* Darker gray text for heading */
    border-bottom: 2px solid #3498db; /* Blue accent for the heading */
    padding-bottom: 10px;
  }

  .mat-expansion-panel {
    background: #ecf0f1; /* Very light gray background */
    color: #34495e; /* Darker gray text */
    border-radius: 8px;
    margin-bottom: 12px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);

    &:hover {
      background: #bdc3c7; /* Slightly darker gray on hover */
    }

    .mat-expansion-panel-header {
      font-size: 18px;
      font-weight: bold;
      padding: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      // background: #3498db; /* Blue background for header */
      color: white; /* White text for contrast */
      transition: background 0.3s;

      &:hover {
        background: #b7babc; /* Darker blue on hover */
      }

      mat-icon {
        transition: transform 0.3s;
      }
    }

    .mat-expansion-panel-header.mat-expanded mat-icon {
      transform: rotate(180deg);
    }

    .accordion-list {
      padding: 10px;
      list-style: none;

      li {
        background: #bdc3c7; /* Light gray for list items */
        margin-bottom: 8px;
        padding: 8px;
        border-radius: 6px;
        transition: background 0.3s;
        cursor: pointer;
        
        /* Gray for hover and light blue for selection */
        &:hover {
          background: #95a5a6; /* Medium gray on hover */
        }

        &.selected {
          background: #3498db; /* Light blue on selection */
          color: white;
        }
      }
    }
  }
}
